:root {
    --landing-background-color:#B1B7D1;
    --light-brown:#7A6174;
    --gray-blued:#9B9FB5;
    --light-violet:#8C7284;
    --pink:#D1B1C8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box

}

html {
    font-size: 62.5%;
}

body {
    color:#29292e;
    height:100vh;
}

body, input, button, textarea {
    font:400 16px 'Poppins', sans-serif;
    outline: none;
}

    
::selection {
    background: #B1B7D1;
}

::-moz-selection {
    background: #B1B7D1;
}

.modal-create-compliment{
    width: fit-content;
    height: 3.7rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    background: white;
    transition: transform 0.2s ease-in-out;
    justify-self: flex-end;

    p{
        font-size: 1.8rem;
        color: var(--light-brown);
        width: max-content;
        padding: 0 1rem;
    }
}


.shown{
    transform: translate(-13.5%, 56%);
}

.not-shown{
    transform: translate(-13.5%, -114%);
}
