#user-page{
    background:var(--light-brown);
    margin: 0;
    padding: 0;
    min-height: 100vh !important;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-create-tag{
        transition: all 200ms ease-in-out;
        background: #FFFFFF;
        width: 30rem;
        height: 15rem;
        border-radius: 5px;
        color: var(--light-brown);
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-rows: 1fr 1fr 1fr;
        position: absolute;
        z-index: 80;

        h1{
            margin-top: 1rem;
        }

        input {
            color: var(--light-brown);
            font-size: 1.5rem;
            padding: 0 0.5rem;
            border: 1px solid var(--light-brown);
            border-radius: 2px;

            &::placeholder{  
                padding-left: 0.5rem;
                color:var(--light-brown);  
            }
        }

        button {
            outline: none;
            background: white;
            border-radius: 5px;
            border: 2px solid var(--light-brown);
            color: var(--light-brown);
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background: #E5E5E5;
            }
        }
    }


    .create-tag-button {
        width:5rem;
        height:5rem;
        border-radius: 50%;
        background:var(--light-brown);
        border: none;
        display:flex;
        justify-content:center;
        align-items: center;
        align-self: end;
        transition:background 0.2s ease-in-out;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
        margin: 0 2.5rem 2.5rem 0;
        cursor: pointer;

        &:hover{
            background: #554450;
        }
    }

    ::placeholder{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-logo{
        width: 100%;
        display:flex;
        justify-content: start;
        padding: 2.5rem 0 0 2.1rem;

        img {
            cursor: pointer;
        }
    }


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:auto 0;

        h1{
            font-weight: normal;
            color:#FFFFFF;
            margin-bottom:1.7rem;
            font-weight: bold;
        }

        

        .compliment-sender{
            display: flex;
            flex-direction: column;
            align-items: center;
            width:26rem;
            height:24.5rem;
            background:#FFFFFF;
            border-radius: 5px;
            border: 3px solid var(--gray-blued);
            margin-bottom:2.2rem;
            padding: 0.5rem 0.5rem 0 0.5rem;

           
            
            div{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                
                .custom-select{
                    position:relative;
                    select{
                        outline: none;
                        background-color: transparent;
                        border: none;
                        color: var(--light-brown);

                    }

                }

                > p {
                    font-size: 1.5rem;
                    color: var(--light-brown);
                    font-weight: bold;
                    align-self: start;
                }

                input {
                    font-size: 1.3rem;
                    position: relative;
                    border: none;
                    padding: 0 0.5rem;
                    color: var(--light-brown);
                    width: 78%;

                    &::placeholder{
                       position: inherit;
                        padding-left: 0.5rem;
                    }
                }

                input[type="text"]{                   
                    width: 23rem;

                    &::placeholder{
                        position: absolute;
                        padding-left: 0.5rem;
                        color:var(--light-brown);
                     }
                }
            }

            span {
                width: 100%;
                height: 0.2rem;
                background: #826174;
                margin-bottom: 0.5rem;
                opacity: 0.7;
            }

            textarea {
                border: none;
                color:var(--light-brown);
                padding:0.5rem;
                resize: none;

                &::-webkit-scrollbar{
                    width:0.5rem;
                }
                &::-webkit-scrollbar-track{
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: var(--light-brown);

                }
            }
        }

        button {
            width: 26rem;
            height: 4.6rem;
            background: var(--light-brown);
            border: 3px solid #FFFFFF;
            border-radius: 5px;
            color:#FFFFFF;
            margin-bottom: 2.2rem;
            cursor: pointer;
            transition: background  0.2s ease-in-out;

            &:hover{
                background: #614e5c;
            }
        }
    }
}

nav {
    position:absolute;
    width: 12.5rem;
    height: 100vh;
    background: #FFFFFF;
    z-index: 9999;

    >div {

        display: grid;
        grid-template-rows: 1fr 8fr 1fr;
        height: 94vh;
        justify-content: center;
        align-items: center;
        margin-top: 2.7rem;
    

        h1{
            color: var(--light-brown);
            font-weight: bold;
            text-align: center;
        }

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            p{
                width: fit-content;
                cursor: pointer;
                margin-bottom:2rem;
                text-align: center;
                color: var(--light-brown);
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.1s ease-in-out;

                &:hover{
                    border-bottom: 2px solid #BCADB8;
                }
            }

            img {
                margin-bottom: 2.5rem;
            }
        }

    }

   
}

.list-messages{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    overflow-y: auto;
    justify-content: start !important;
    align-items: unset !important;
    &::-webkit-scrollbar{
        width:0.5rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--light-brown);

    }

   

   .empty{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--landing-background-color);
    }

    .messages{
        width: 100%;
        display: flex;
        justify-content: space-between !important;
        border-bottom: 2px solid #BCADB8;
        transition: all 0.1s ease-in-out;

        &:hover{
            background-color: var(--light-brown);
            cursor:pointer;
        }

        p{
            font-weight:normal !important;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            align-self: unset !important;
            width: 100%;
            text-overflow: ellipsis;
        }

        &:hover > p{
            color:white!important;
        }

        &:hover > .close-icon  div{
            background: white !important;
        }

        .close-icon{
            display:flex;
            justify-content:center !important;
            align-items: center !important;
            width:1.6rem !important;
            height:1.6rem;
            border-radius:4px;
            margin-right: 0.3rem;
            position: relative;

            &:hover{
                background: white;
            }

            &:hover > div{
                background: var(--light-brown) !important;
            }
    
            div:first-child{
                background: var(--light-brown);
                width: 1.5rem !important;
                height: 0.2rem !important;
                transform: rotate(-45deg);
                position: absolute;
                border-radius: 2px;
            }
    
            div:nth-child(2){
                background: var(--light-brown);
                width: 1.5rem !important;
                height: 0.2rem !important;
                transform: rotate(45deg);
                position: absolute;
                border-radius: 2px;
            }
        
    }

    }

}

.list-textos{
    width:26rem;
    height:24.5rem;
    background:#FFFFFF;
    border-radius: 5px;
    border: 3px solid var(--gray-blued);
    margin-bottom:2.2rem;

    button{
        background: var(--gray-blued)!important;
    }

    



    .textos{
        margin-top: 1rem;
        color:var(--light-brown);
        font-weight: 500;
        font-size: 1.5rem;
    }

    .rec .rec-arrow{
        display: none;
    }

    .rec .rec-dot{
        width: 1rem !important;
        height: 1rem !important;
        box-shadow: 0 0 1px 3px var(--gray-blued);
    }

    .rec .rec-dot:focus{
        box-shadow: 0 0 1px 3px var(--light-brown);
    } 

    .rec .rec-pagination{
        margin-top: 15px;
    }

}

.modal-create-compliment{
    width: 19rem;
    height: 3.7rem;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #acd9ae;
    background: white;
    transition: transform 0.2s ease-in-out;
    position:absolute;

    h1{
        font-size: 1.8rem;
        color: var(--light-brown);
    }
}

.shown{
    transform: translate(285%, -758%);
}

.not-shown{
    transform: translate(285%, -905%);
}

